/* signup.module.css */

/* Global styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background: var(--background-color);
}

/* Mobile-first styles */
.signup-container {
  max-width: 100%;
  padding: 20px;
  background: var(--modal-content-background);
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.signup-header {
  text-align: center;
  color: #333;
  font-size: 24px;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.form-label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.signup-button {
  width: 100%;
  background: var(--primary-color);
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
}

.signup-button:hover {
  background: var(--primary-hover-color);
}

.signup-success,
.signup-error {
  text-align: center;
  font-size: 18px;
  margin-top: 15px;
  padding: 10px;
  border-radius: 5px;
}

.signup-success {
  background: var(--success-background);
  color: #fff;
}

.signup-error {
  background: var(--error-background);
  color: #fff;
}

/* Media query for larger screens */
@media screen and (min-width: 768px) {
  .signup-container {
    max-width: 400px;
    margin: 0 auto;
  }
}
