
/* Open button */
.openButton {
    background: var(--primary-color);
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
}

.openButton:hover {
    background: var(--primary-hover-color);
}

/* Modal container */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--modal-background);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

/* Modal content */
.modalContent {
    background: var(--modal-content-background);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 20px;
}

/* Close button */
.closeButton {
    background: var(--close-button-color);
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
}